body{
     background-color: rgb(18, 220, 220);
}

#calcultor{
    width: 350px;
    height:500px;
    background-color: rgb(25, 25, 65);
    margin:150px auto;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
